<div class='d-flex flex-column align-items-center justify-content-center p-5'>
  <%= image_tag 'task', class:'img-fluid'%>
  <p>Welcome, <span class='text-warning'><%= username %>!</span> Let's get started on your tasks!</p>
</div>
