<div class="shimmer-wrapper d-flex align-items-center justify-content-center p-5">
  <div class="spinner-border text-warning" role="status">
  </div>
  <span class="ms-2">Please wait...</span>
</div>
