<table class="table">
  <tr>
    <td>
      <div class="card p-2 shadow border border-0">
        <div class="card-header w-100 text-end border border-0", style="background-color: #32383e">
        </div>
        <div class="card-body d-flex flex-column align-items-center justify-content-center mt-4 text-nowrap">
          <h3 clas="fw-bold"><%= current_user.tasks.count %></h3>
          <p class="text-info">Completed Tasks</p>
        </div>
      </div>
    </td>
    <td>
      <div class="card p-2 shadow border border-0">
        <div class="card-header w-100 text-end border border-0", style="background-color: #32383e">
          <%= bootstrap_icon 'question-circle', class: 'text-warning',
            width: '1.3rem',
            data: { bs_toggle: 'tooltip', bs_placement: 'left', bs_original_title: 'All tasks undone to be processed.' }
          %>
        </div>
        <div class="card-body d-flex flex-column align-items-center justify-content-center text-nowrap ">
          <h3 clas="fw-bold"><%= current_user.tasks.count %></h3>
          <p class="text-info">Pending Tasks</p>
        </div>
      </div>
    </td>
  </tr>
</table>
