<dialog id="turbo-confirm" class="bg-body border border-dark">
  <form method="dialog">
    <div class="text-end mb-4">
      <button class="btn-close" value="cancel"></button>
    </div>
    <p class="px-5 text-warning">Are you sure?</p>
    <div class="text-end pt-4">
      <button class="btn btn-primary px-3 me-1" value="cancel">Cancel</button>
      <button class="btn btn-secondary" value="confirm">Confirm</button>
    </div>
  </form>
</dialog>
