<dialog id="turbo-confirm" class="bg-dark border border-primary p-4">
  <form method="dialog">
    <p class="text-white text-center">Are you sure?</p>
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-secondary btn-lg mx-2" value="cancel">Cancel</button>
      <button class="btn btn-primary btn-lg mx-2" value="confirm">Confirm</button>
    </div>
  </form>
</dialog>
