<div class='list-group-item d-flex justify-content-between align-items-center bg-dark border border-0'><font style='vertical-align: inherit;'><font style='vertical-align: inherit;'>
  <%= bootstrap_icon 'list-task'%>
  <span class='ms-1'><%= category.name.capitalize %></span>
  </font></font><span class='badge bg-primary rounded-pill'><font style='vertical-align: inherit;'><font style='vertical-align: inherit;'><%= category.tasks.count %></font></font></span>
</div>
